= render 'shared/login-header'

#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br/
      %br/
      - if user_signed_in?
        %h1.header.center.teal-text.text-lighten-2
          BlogApp for Design
      - else
        %h1.header.center.teal-text.text-lighten-2 BlogApp for Design
      .row.center
        %h5.header.col.s12.light
          = current_user.nickname+"さんのマイページ"
      .row.center
        - if user_signed_in?
          .user_nav.grid-6
            = link_to "新規投稿", new_post_path, class: 'post'
      %br/
      %br/
  .parallax
    = image_tag 'image1.jpg',alt: 'Unsplashed'

#content.hfeed
  #content-inner
    #wrapper
      #main
        #main-inner
          - @posts.each do |post|
            %article#entry-26006613405060410.entry.hentry.js-entry-article.date-first.autopagerize_page_element.chars-200.words-100.mode-html.entry-odd{"data-keyword-campaign" => "", "data-publication-type" => "entry", "data-uuid" => "26006613405060410"}
              .entry-inner
                %header.entry-header
                  .date.entry-date.first
                    投稿者
                    = current_user.nickname
                  .date.entry-date.second
                    %span
                      = post.updated_at.strftime('%Y/%m/%d %H:%M:%S')
                  .entry-title
                    = link_to "/posts/#{post.id}",class: "leave-delete-title", method: :get do
                      = post.title

          = paginate(@posts)

= render 'shared/main-footer'

