#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br/
      %br/
      - if user_signed_in?
        %h1.header.center.teal-text.text-lighten-2
          = current_user.nickname
      - else
        %h1.header.center.teal-text.text-lighten-2 Welcome to BlogApp for SAO
      .row.center
        %h5.header.col.s12.light This app was created to consider the technical aspects of Sword Art Online (SAO).
      .row.center
        - if user_signed_in?
          .user_nav.grid-6
            = link_to "New Post", new_post_path, class: 'post'
      %br/
      %br/
  .parallax
    = image_tag 'image1.jpg',alt: 'Unsplashed'
.container
  .section
    / Icon Section
    .row
      .col.s12.m4
        .icon-block
          = link_to new_user_registration_path do
            %h2.center.brown-text
              %i.material-icons.edit edit
            %h5.center Sign up
            %p.light Click here for new registration.It ’s super simple because you only need to set your name, email address and password.
      .col.s12.m4
        .icon-block
          = link_to new_user_session_path do
            %h2.center.brown-text
              %i.material-icons.key vpn_key
            %h5.center Login
            %p.light If you are registered, please login here.I need to enter my email address and password, but it doesn't matter
      .col.s12.m4
        .icon-block
          = link_to '/auth/twitter', :id => "twitter" do
            %h2.center.brown-text
              = image_tag 'twitter_logo.png',alt: 'Unsplashed', size: '50x50'
            %h5.center Twitter Login
            %p.light You can log in if you have a Twitter account.It's great that you can log in easily. The time is money.
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        %h5.header.col.s12.light This world may be a virtual space created by someone.
  .parallax
    = image_tag 'image2.jpg',alt: 'Unsplashed'
.container
  .section
    .row
      .col.s12.center
        %h3
          %i.mdi-content-send.brown-text
        %h4.center Contact by Nishida Daiki
        .col.s12.m4
          .icon-block
            = link_to 'https://github.com/daiki0730' do
              %h2.center.brown-text
                = image_tag 'github.png',alt: 'Unsplashed', size: '50x50'
              %h5.center GitHub
              %p.light Nishida Daiki's account. GitHub is a software development platform that hosts source code. Use Git for the code version control system.
        .col.s12.m4
          .icon-block
            = link_to 'https://twitter.com/Ilovfcsnd' do
              %h2.center.brown-text
                = image_tag 'twitter.png',alt: 'Unsplashed', size: '50x50'
              %h5.center Twitter
              %p.light Nishida Daiki's account. Twitter is a social networking service from Twitter, Inc., headquartered in San Francisco, California.
        .col.s12.m4
          .icon-block
            = link_to 'https://www.facebook.com/profile.php?id=100009037160238&ref=bookmarks' do
              %h2.center.brown-text
                = image_tag 'facebook.png',alt: 'Unsplashed', size: '50x50'
              %h5.center Facebook
              %p.light Nishida Daiki's account. Facebook (FB) is the world's largest social networking service (SNS) headquartered in Menlo Park, California.

.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        %h5.header.col.s12.light Is the SAO world a virtual image or the future of reality to come?
  .parallax
    = image_tag 'image3',alt: 'Unsplashed'

