#index-banner.parallax-container
  .section.no-pad-bot
    .container
      %br/
      %br/
      - if user_signed_in?
        %h1.header.center.teal-text.text-lighten-2
          = current_user.nickname
      - else
        %h1.header.center.teal-text.text-lighten-2 Welcome to BlogApp
      .row.center
        %h5.header.col.s12.light There is always light behind the clouds.
      .row.center
        - if user_signed_in?
          .user_nav.grid-6
            = link_to "New Post", new_post_path, class: 'post'
      %br/
      %br/
  .parallax
    = image_tag 'background1.jpg',alt: 'Unsplashed background img 1'
.container
  .section
    / Icon Section
    .row
      .col.s12.m4
        .icon-block
          = link_to new_user_registration_path do
            %h2.center.brown-text
              %i.material-icons flash_on
            %h5.center Sign up
            %p.light Click here for new registration.It ’s super simple because you only need to set your name, email address and passwordI need to enter my email address and password.
      .col.s12.m4
        .icon-block
          = link_to new_user_session_path do
            %h2.center.brown-text
              %i.material-icons group
            %h5.center Login
            %p.light If you are registered, please login here.I need to enter my email address and password, but it doesn't matter
      .col.s12.m4
        .icon-block
          = link_to '' do
            %h2.center.brown-text
              %i.material-icons settings
            %h5.center Twitter Login
            %p.light You can log in if you have a Twitter account.It's great that you can log in easily. The time is money.
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        %h5.header.col.s12.light Change before you have to.
  .parallax
    = image_tag 'background2.jpg',alt: 'Unsplashed background img 2'
.container
  .section
    .row
      .col.s12.center
        %h3
          %i.mdi-content-send.brown-text
        %h4.center Contact by Nishida Daiki
        .col.s12.m4
          .icon-block
            = link_to 'https://github.com/daiki0730' do
              %h2.center.brown-text
                = image_tag 'github.png',alt: 'Unsplashed', size: '50x50'
              %h5.center GitHub
              %p.light Nishida Daiki's account. GitHub is a software development platform that hosts source code. Use Git for the code version control system. Written in Ruby on Rails and Erlang, maintained by based in San Francisco, California, USA.
        .col.s12.m4
          .icon-block
            = link_to 'https://twitter.com/Ilovfcsnd' do
              %h2.center.brown-text
                = image_tag 'twitter.png',alt: 'Unsplashed', size: '50x50'
              %h5.center Twitter
              %p.light Nishida Daiki's account. Twitter is a social networking service from Twitter, Inc., headquartered in San Francisco, California. You can post messages, images, videos, and URLs within 280 single-byte characters called “tweets”.
        .col.s12.m4
          .icon-block
            = link_to 'https://www.facebook.com/profile.php?id=100009037160238&ref=bookmarks' do
              %h2.center.brown-text
                = image_tag 'facebook.png',alt: 'Unsplashed', size: '50x50'
              %h5.center Facebook
              %p.light Nishida Daiki's account. Facebook (FB) is the world's largest social networking service (SNS) headquartered in Menlo Park, California. Leading IT company in the United States, offering Instagram, Messenger, WhatsApp

.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        %h5.header.col.s12.light Love the life you live. Live the life you love.
  .parallax
    = image_tag 'background3.jpg',alt: 'Unsplashed background img 3'
