= render 'shared/main-header'

.content.post
  = form_for @post do |f|
    %h3
      編集する
    = f.label :title, class: 'label_ttl'
    = f.text_field :title, class: 'form_title', placeholder: 'post.title'
    = f.label :image, class: 'label_image'
    = f.file_field :image, class: 'form_image'
    = f.label :text, class: 'label_text'
    = f.text_area :text, class: 'form_text',placeholder: 'post.text'
    = f.submit '送信', class: 'sub_btnn'

= render 'shared/main-footer'

