= render 'shared/main-header'

.content.post
  = form_for @post do |f|
    = f.label :title, class: 'label_title'
    = f.text_field :title, class: 'form_title', placeholder: 'タイトル'
    = f.label :address, class: 'label_image'
    = f.text_field :address, class: 'form_title', placeholder: '撮影場所/建物名など'
    = f.label :image, class: 'label_image'
    = f.file_field :image, class: 'form_image'
    = f.label :text, class: 'label_text'
    = f.text_area :text, class: 'form_text',placeholder: 'テキスト'
    = f.submit 'SENT', class: 'submit_button'

= render 'shared/main-footer'
