= render 'shared/login-header'
#content.hfeed
  #content-inner
    #wrapper
      #main
        #main-inner
          %article#entry-26006613405060410.entry.hentry.js-entry-article.date-first.autopagerize_page_element.chars-200.words-100.mode-html.entry-odd{"data-keyword-campaign" => "", "data-publication-type" => "entry", "data-uuid" => "26006613405060410"}
            .entry-inner
              %header.entry-header
                .date.entry-date.first
                  投稿者
                  = @post.user.nickname
                .date.entry-date.second
                  %span
                    = @post.updated_at.strftime('%Y/%m/%d %H:%M:%S')
                .entry-title
                  = @post.title
                %a.entry-title-link.bookmark
                  =image_tag @post.image
              .entry-content
                = @post.text
              .customized-footer
                %h9.mypage
                - if current_user.already_liked?(@post)
                  .button-good
                    = button_to "イイね！ #{@post.likes.count}", post_like_path(@post), class: 'good', method: :delete
                - else
                  .button-good
                    = button_to "イイね！ #{@post.likes.count}", post_likes_path(@post), class: 'good'
              .customized-footer-comment
                %h9.mypage
                = form_tag("/posts/#{@post.id}/comments", method: :post) do
                  .button-comment
                    = link_to "コメントする", "/users/#{@post.id}/edit", class: 'comment-btn', method: :get
              - if user_signed_in? && current_user.id == @post.user_id
                .customized-footer-comment
                  %h9.mypage
                    = link_to '記事を編集', "/posts/#{@post.id}/edit",class: "leave-edit", method: :get
                .customized-footer-comment
                  %h9.mypage
                    = link_to '記事を削除',"/posts/#{@post.id}", class: "leave-delete", method: :delete
              - if @post.liked_users.present?
                .comment-box
                  .comment-box-good
                    イイね！した人一覧
                    - @post.liked_users.each do |user|
                      %li.good
                        = user.nickname
              - else
                .div

              - if @comments.present?
                .comment-box
                  %h9.mypage コメント一覧
                  - if @comments
                    - @comments.each do |comment|
                      .comments
                        %strong.comment-name
                          = link_to comment.user.nickname, "/users/#{comment.user_id}"
                          ：
                        = comment.text
              - else
                .div


= render 'shared/main-footer'


%h2 gmap
#map



